@model ECommerce.Models.Rasoi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rasoi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modello)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modello)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
